@import '~mdb-ui-kit/css/mdb.min.css';
.header{
  height: 50vh; 
  background-image: url(background.jpg);
  background-size: cover;

}

body.hangman{
  height: 100%;

  background-image: url(background.jpg);
  background-size: cover;
}

html.customize{
  height: 100%;
  background-image: url(background.jpg);
  background-size: cover;
}

body.customize{
  height: 100%;
  background-image: url(background.jpg);
  background-size: cover;
}

body{
  overflow-x: hidden;
}

.hidden{
  display: none;
}

p{
  font-family: Raleway;
}

